<div class="card">
  <ul>
    {{#each model as |result|}}
      <li>
        <div class="row">
          <div>
            <b> Id </b> #{{result.id}}
          </div>
          <div>
            <b> prop1 </b> {{result.prop1}}
          </div>
          <div>
            <b> Prop2 </b> {{result.prop2}}
          </div>
          <br>
        </div>
      </li>
    {{/each}}
  </ul>
</div>